<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
      <li><strong><%= bookmark.movie.title %></strong> -  <span style="color: #edc747"><%= bookmark.movie.rating %> stars</span><%=  "- #{bookmark.comment}" if bookmark.comment.length > 0 %> - <%= bookmark.movie.overview %> <%= link_to(
    list_bookmark_path(@list.id, bookmark.id),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) do %>
     <i class="fa fa-dumpster-fire"></i>
     <% end %>
</li>
  <% end %>
  </ul>

<p><%= link_to "Add a bookmark", new_list_bookmark_path(@list.id)	%></p>

<p><%= link_to "Back to lists", lists_path %></p>
