<div class="cards">


  <% @movies.each do |movie| %>

<div class="card-movie">
  <img src=<%= movie.poster_url %> />
  <div class="card-movie-infos">
    <div>
      <h2><%= movie.title %> <span style="color: #edc747" class="px-2"><i class="fa-solid fa-star"></i><%= movie.rating %> stars</span>
      </h2>
      <p><%= movie.overview %></p>
      <%= link_to "Add bookmark", movie_bookmarks_new_path(movie.id) %>
    </div>

  </div>
</div>

  <% end %>

</div>
